body {
    background-color: #F5FBEF;
    color: #1E2019;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.sidebar {
    margin: 0;
    padding: 10px;
    width: 200px;
    background-color: #235789;
    color: #F5FBEF;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.basecontainer {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}